<div class="container">
    <div class="weather-wrap">

        <ul>
            <li class="card">
                <p>Sunday</p>
                <p>09 Feb</p>
                <img src="" alt="" class="icon">
                <div class="temp-info">
                    <p>min: -2°</p>
                </div>
            </li>
            <li class="card"></li>
            <li class="card"></li>
            <li class="card"></li>
            <li class="card"></li>
        </ul>

        <!-- <div class="day">
            <p>Sunday</p>
            <p>09 Feb</p>
            <img src="" alt="" class="icon">
            <div class="temperature">
                <span>min: -2°</span>
                <svg width="24" height="24" class="divider">
                    <use href="./images/icons.svg#Vector3"></use>
                </svg>
                <span>max: 1°</span>
                <br>
                <a href="#">more info</a>
            </div>
        </div>     -->
    </div>
</div>