<div class="fivedays-container">
    <div class="weather-wrap">
        <ul class="card-content">
            <li class="card">
                <p class="day" tabindex="0">Sunday</p>
                <p class="fivedays-date">09 Feb</p>
                <img src="https://picsum.photos/35/35" alt="" class="icon">
                <div class="temp-info">
                    <div class="box">
                        <p class="text-min">min</p>
                        <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <p class="text-max">max</p>
                        <p class="num-max"> 1°</p>
                    </div>
                </div>
                <a href="#" class="fiveday-more-info" onclick="hideShow($event)">more info</a>
            </li>

            <li class="card">
                <p class="day" tabindex="0">Monday</p>
                <p class="fivedays-date">10 Feb</p>
                <img src="https://picsum.photos/35/35" alt="" class="icon">
                <div class="temp-info">
                    <div class="box">
                        <p class="text-min">min</p>
                        <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <p class="text-max">max</p>
                        <p class="num-max"> 1°</p>
                    </div>
                </div>
                <a href="#" class="fiveday-more-info">more info</a>
            </li>

            <li class="card">
                <p class="day" tabindex="0">Tuesday</p>
                <p class="fivedays-date">11 Feb</p>
                <img src="https://picsum.photos/35/35" alt="" class="icon">
                <div class="temp-info">
                    <div class="box">
                        <p class="text-min">min</p>
                        <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <p class="text-max">max</p>
                        <p class="num-max"> 1°</p>
                    </div>
                </div>
                <a href="#" class="fiveday-more-info">more info</a>
            </li>

            <li class="card">
                <p class="day" tabindex="0">Wednesday</p>
                <p class="fivedays-date">12 Feb</p>
                <img src="https://picsum.photos/35/35" alt="" class="icon">
                <div class="temp-info">
                    <div class="box">
                        <p class="text-min">min</p>
                        <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <p class="text-max">max</p>
                        <p class="num-max"> 1°</p>
                    </div>
                </div>
                <a href="#" class="fiveday-more-info">more info</a>
            </li>

            <li class="card">
                <p class="day" tabindex="0">Thursday</p>
                <p class="fivedays-date">13 Feb</p>
                <img src="https://picsum.photos/35/35" alt="" class="icon">
                <div class="temp-info">
                    <div class="box">
                        <p class="text-min">min</p>
                        <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <p class="text-max">max</p>
                        <p class="num-max"> 1°</p>
                    </div>
                </div>
                <a href="#" class="fiveday-more-info">more info</a>
            </li>
        </ul>
    </div>
    <!-- <div class="buttons-toggle">
        <button id="prev-btn" onclick="showPrev()">Prev</button>
        <button id="next-btn" onclick="showNext()">Next</button>
    </div> -->
</div>