     <section class="fivedays-moreinfo">
       <h2 class="visually-hidden">Cyan</h2>
        <!-- fivedays -->
          <div class="fivedays-container">
            <div class="weather-wrap">

          </div>
            <div class="btnWrapper">
                <div class="prev-nextBtn">
                  <button id="prev-btn">&#8249;</button>
                  <button id="next-btn">&#8250;</button>
                </div>
            </div>
        <!-- more info -->
          <div class="more-info" id="more-info-data">

          </div>
         </div>
      </section>
