     <section class="fivedays-moreinfo">
        <!-- fivedays -->
          <div class="fivedays-container">
            <div class="weather-wrap">
              <!--ul class="card-content">
                <li class="card" id="card">
                  <p id="day" class="day" tabindex="0">Sunday</p>
                  <p class="fivedays-date">09 Feb</p>
                  <img src="https://picsum.photos/35/35" alt="" class="fivedays-icon">
                  <div class="temp-info">
                    <div class="box">
                      <p class="text-min">min</p>
                      <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                      <p class="text-max">max</p>
                      <p class="num-max"> 1°</p>
                    </div>
                  </div>
                  <button class="fiveday-more-info" onclick="toggleMoreInfo()">more info</button>
                </li>

                <li class="card" id="card">
                  <p id="day" class="day">Monday</p>
                  <p class="fivedays-date">10 Feb</p>
                  <img src="https://picsum.photos/35/35" alt="" class="fivedays-icon">
                  <div class="temp-info">
                    <div class="box">
                      <p class="text-min">min</p>
                      <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                      <p class="text-max">max</p>
                      <p class="num-max"> 1°</p>
                    </div>
                  </div>
                  <button class="fiveday-more-info" onclick="toggleMoreInfo()">more info</button>
                </li>

                <li class="card" id="card">
                  <p class="day">Tuesday</p>
                  <p class="fivedays-date">11 Feb</p>
                  <img src="https://picsum.photos/35/35" alt="" class="fivedays-icon">
                  <div class="temp-info">
                    <div class="box">
                      <p class="text-min">min</p>
                      <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                      <p class="text-max">max</p>
                      <p class="num-max"> 1°</p>
                    </div>
                  </div>
                  <button class="fiveday-more-info" onclick="toggleMoreInfo()">more info</button>
                </li>

                <li class="card" id="card">
                  <p class="day">Wednesday</p>
                  <p class="fivedays-date">12 Feb</p>
                  <img src="https://picsum.photos/35/35" alt="" class="fivedays-icon">
                  <div class="temp-info">
                    <div class="box">
                      <p class="text-min">min</p>
                      <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                      <p class="text-max">max</p>
                      <p class="num-max"> 1°</p>
                    </div>
                  </div>
                  <button class="fiveday-more-info" onclick="toggleMoreInfo()">more info</button>
                </li>

                <li class="card" id="card">
                  <p class="day" >Thursday</p>
                  <p class="fivedays-date">13 Feb</p>
                  <img src="https://picsum.photos/35/35" alt="" class="fivedays-icon">
                  <div class="temp-info">
                    <div class="box">
                      <p class="text-min">min</p>
                      <p class="num-min"> -2°</p>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                      <p class="text-max">max</p>
                      <p class="num-max"> 1°</p>
                    </div>
                  </div>
                  <button class="fiveday-more-info" onclick="toggleMoreInfo()">more info</button>
                </li>
              </ul-->
            </div>
          </div>
        <!-- more info -->
          <div class="more-info" id="more-info-data">
            <button class="nextBtn-moreInfo round">&#8250;</button>
          </div>

      </section>
