

/* Fivedays CSS */

.fivedays-moreinfo {
  margin-bottom: 15px;
  /* display: flex; */
  /* justify-content: center; */
  width: 280px;
  /* height: 308px; */
  padding: 40px 0px 5px 0px;
  border-radius: 34px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(16, 33, 54, 0.80);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.60);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .fivedays-moreinfo {
    width: 620px;
  }
  .card-content .day {
    font-size: 14px;
  }
  .card-content .fivedays-date {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .fivedays-moreinfo {
    width: 1060px;
  }
  .card-content .day {
    font-size: 18px;
  }
  .card-content .fivedays-date {
    font-size: 25px;
  }
}

ul {
  list-style-type: none;
}

.fivedays-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card-content {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card {
  width: 120px;
  height: 228px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.day {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.72px;
  opacity: 0.55;
}

.fivedays-date {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.fivedays-icon {
  margin: 20px 42px 35px 43px;

}

.temp-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.separator {
  display: flex;
  border-right: 1px solid #fff;
  height: 46px;
  opacity: 0.3;
}

.text-min,
.text-max {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.55;
}

.num-min,
.num-max {
  color: #FF6B09;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fiveday-more-info {
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  opacity: 0.3;
  background-color: initial;
  border: none;
  cursor: pointer;
  outline: none;
}

/* .fiveday-more-info:hover,
.fiveday-more-info:focus{
color: #FFF;
opacity: 1;
} */

.day:focus {
  color: #FF6B09;
  opacity: 1;
}

.card:focus {
  color: red;
}

/* More Info CSS */
.more-info {
  transition: all 0.5s linear;
}

.more-info-list {
  display: flex;
  padding: 0;
  column-gap: 10px;
  justify-content: center;
}

.more-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  row-gap: 10px;
  padding: 16px 0;
}

.time {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.54;
}

.temperature {
  color: #FF6B09;
  font-size: 25px;
  font-weight: 700;
}

.measurement-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.measurement-item{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.barometer, .humidity, .wind {
  color: #FFF;
  opacity: 0.54;
  font-size: 14px;
  font-weight: 400;
}

.card-content .active .day {
  color: #ff6b09;;
  opacity: 1;
}

.card-content .active {
  color: #ff6b09;;
  background-color: #767d8530;
  border-radius: 10px;
  padding: 15px 0px 15px 0px;
}

.card.active .fiveday-more-info {
  color: var(--white);
  opacity: 1;
}

.city-fiveday-view {
  color: var(--white);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  margin-bottom: 22px;
}