/* .more-info h2,
.more-info h3,
.more-info h4,
.more-info h5,
.more-info h6,
.more-info ul,
.more-info li,
.more-info img,
.more-info p {
  margin: 0;
  padding: 0;
}

.more-info {
  margin: 15px;
  border-radius: 34px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
}

.more-info li {
  list-style-type: none;
}

.more-info .five-days-view-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  margin-bottom: 20px;
}

.more-info .more-info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.more-info .more-info-item {
  padding: 15px 15px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 120px;
  height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info .more-info-item img {
  margin-bottom: 10px;
}

.more-info .time,
.more-info .temperature,
.more-info .measurement-list {
  font-family: var(--lato);
}

.more-info .time {
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  opacity: 0.6;
}

.more-info .temperature {
  color: var(--orange);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.more-info .measurement-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.more-info .more-info-item .weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.more-info .measurement-item .barometer,
.more-info .measurement-item .humidity,
.more-info .measurement-item .wind {
  color: var(--white);
  font-family: var(--lato);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

.more-info .measurement-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.more-info-container {
  padding: 15px;
} */