:root {
  /*page color*/
  --navy_blue: #102136;
  --white: #fff;
  --black: #000;
  --orange: #ff6b09;
  --yellow: #ea9a05;
  --blue: #0906eb;
  --green: #067806;
  /* page font-style */
  --lato: 'Lato', sans-serif;
}

body {
  font-family: var(--lato);
  background-color: #f0f0f0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #373736, #242424);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

input:hover {
  cursor: text;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  background-color: rgba(56, 56, 56, 0);
  z-index: 9999; /* Ensure loader is on top of other content */
}

.loader {
  top: 180;
  left: 0;
  width: 150px;
  height: 150px;
  background: #e54919;
  display: block;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 2.5s ease-in-out infinite reverse;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 150px;
  height: 150px;
  background: #e54919;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #e2800090;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.date-card {
  background-color: rgba(16, 33, 54, 0.6);
  border-radius: 0px 34px 0px 0px;
  width: 630;
  height: 278px;
  bottom: 0;
  left: 0;
  position: fixed;
  flex-shrink: 0;
}

.date-day {
  margin-top: 60px;
  margin-left: 110px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #fff;
}

.other-info {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.date {
  font-size: 90px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #fff;

  margin-bottom: 0;
  align-items: center;
  align-content: center;
}

#current-time {
  margin-right: 30px;
}

.weather-info-container {
  position: fixed; /* or absolute if within a positioned parent */
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.weather-info {
  border-radius: 34px 0px 0px 34px;
  background: #102136;
  width: 450px;
  height: 300px;
  flex-shrink: 0;
  /* shadow */
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city {
  color: #767d85;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10 0 10 0;
}

.current-temp {
  color: var(--white);
  text-align: center;
  font-size: 90px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.6px;
}

.min-max-temp {
  display: flex;
  gap: 20px;
}

.info-item {
  text-align: center;
  flex-direction: column;
  font-size: 12px;
  display: flex;

  color: #767d85;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.min-temp,
.max-temp {
  color: var(--white);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 21px;
}

.today,
.five-days {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);

  width: 126px;
  height: 27px;
  padding: 0px 12px;
  cursor: not-allowed;
}

.button-active {
  background-color: var(--white);
  cursor: pointer;
}

.quote-container {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  width: 340px;
  flex-shrink: 0;
  margin: 0 100 50 0;
  align-items: end;
}

.quote {
  text-align: right;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.88px;
  margin-bottom: 30px;
}

.quote-author {
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.btn-favourite {
  position: absolute;
  right: 10px;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  margin-right: 26px;
  cursor: pointer;
}

.btn-favourite,
.input-geolocation {
  width: 22px;
  height: 22px;
  position: absolute;
  border: none;
  background-color: hsla(0, 0%, 100%, 0);
  background-position: 50%;
  outline: none;
  top: 30%;
}

.search__form {
  text-align: center;
  position: relative;
}

#search-input {
  width: 506px;
  height: 48px;
  font-size: 20px;
  border-radius: 27px;
  outline: none;
  padding-left: 60px;
  border: none;
  background-color: #fff;
}

#search-input,
#search-input::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.input-geolocation {
  left: 26px;
}

@media screen and (max-height: 650px) {
  .quote-container {
    display: none;
  }
}

@media (max-width: 950px) {
  .loader {
    left: 0;
    top: 50;
  }
}

.input-button .icon {
  font-size: 20px;
  color: #666; /* Icon color */
}

/* Optional: Add hover effect for the button */
.input-button:hover .icon {
  color: #000; /* Change color on hover */
}

.sqr1,
.sqr2 {
  width: 197.849px;
  height: 197.849px;
  transform: rotate(-30deg);
  border-radius: 30px;
  border: 4px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  box-shadow: 0 0 2px 0 rgba(232, 233, 235, 0.5),
    0 0 10px 0 rgba(179, 209, 241, 0.5), 0 0 20px 0 rgba(210, 225, 243, 0.5);
  animation: glow 1.5s infinite alternate;

  transform: translate(-50%, -50%);
}
@keyframes glow {
  from {
    box-shadow: 0 0 2px rgba(196, 220, 247, 0.5),
      0 0 5px rgba(164, 187, 211, 0.5), 0 0 8px rgba(205, 220, 236, 0.5);
  }
  to {
    box-shadow: 0 0 2px rgb(181, 211, 244), 0 0 10px rgb(186, 206, 227),
      0 0 20px rgb(202, 215, 229);
  }
}

.sqr1 {
  top: 100;
  left: -40;
}

.sqr2 {
  top: -150;
  left: 1300;
}

.five-day-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.five-day-view .buttons-toggle {
  width: 70vw;
  justify-content: end;
  margin: 40px 0 40px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: opacity 1.5s ease, transform 1.5s ease;
  opacity: 0;
}

.today-view,
.five-day-view {
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.lightning {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.snow {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

/* ivan - favorite city */
.favorite-container {
  display: flex;
  justify-content: center;
}
.favorite-city-list {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 500px;
  overflow-x: scroll;
}
.favorite-city-list::-webkit-scrollbar {
  display: none;
}
.favorite-list-item {
  list-style: none;
  background-color: rgba(16, 33, 54, 0.5);
  display: flex;
  gap: 10px;
  padding: 7px;
  border-radius: 20px;
  white-space: nowrap;
}
.favorite-list-link {
  color: var(--white);
  text-decoration: underline;
  font-weight: bold;
  padding: 0 5px 0 5px;
  cursor: pointer;
}
.favorite-list-close {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
