:root {
  /*page color*/
  --navy_blue: #102136;
  --white: #fff;
  --black: #000;
  --orange: #ff6b09;
  --yellow: #ea9a05;
  --blue: #0906eb;
  --green: #067806;
  /* page font-style */
  --lato: 'Lato', sans-serif;
}

body {
  font-family: var(--lato);
  background-color: #f0f0f0;
  margin: 0;
  height: 100vh;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/city.png) no-repeat center center fixed;
  background-size: cover;
}

h1,
p {
  margin: 0;
}
/* Fivedays CSS */

ul {
  list-style-type: none;
}

.fivedays-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.weather-wrap {
  display: flex;
  justify-content: center;
  width: 1060px;
  height: 308px;
  border-radius: 34px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(16, 33, 54, 0.80);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.60);
}

.card-content {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  align-items: center;
  padding: 0;
}

.card {
  width: 120px;
  height: 228px;
}

.day {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  opacity: 0.55;
}

.fivedays-date{
  color: #FFF;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.icon {
  margin: 20px 42px 35px 43px;

}

.temp-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.separator {
  display: flex;
  border-right: 1px solid #fff;
  height: 46px;
  opacity: 0.3;
}

.text-min, .text-max {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.55;
}

.num-min, .num-max {
  color: #FF6B09;
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fiveday-more-info {
  display: flex;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  opacity: 0.3;
}