#weatherChart {
  flex-shrink: 0;
  padding: 40px 70px;
}

.chart-container {
  position: relative;
  margin: 0 0 100px 0;
  width: 1060px;
  height: 540px;
  font-weight: 400;
  border-radius: 34px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
}
