#weatherChart {
  flex-shrink: 0;
  padding: 30px 1px;
}

.chart-container {
  position: relative;
  margin: 0 0 100px 0;
  width: 280px;
  height: 516px;  
  font-weight: 400;
  border-radius: 34px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
  padding-bottom: 40px;
  display: none;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .chart-container {
    width: 620px;
    height: 462px;
  }
}

@media screen and (min-width: 1280px) {
  .chart-container {
  width: 1060px;
  height: 540px;
  }
}

.chart-container.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.chart-container.hide {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.show-chart {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 60px;
}

.show-chart-text {
  color: #ff6b09;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.hide-chart {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hide-chart-text {
  color: #ff6b09;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

