#weatherChart {
  width: 1060px;
  height: 540px;
  flex-shrink: 0;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 60vw;
  font-weight: 400;
  border-radius: 34px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
  padding: 100px;
}
